/*-------------------------------------
| Background
-------------------------------------*/

body {
	background-color: #E29B37;

}


.navbar nav {
	width: auto;
	height: 40px;
	background-color: #D9772A;
	text-align: center;
}

.navbar li a {
	text-decoration: none;
	
}

.navbar li {
	list-style-type: none;
}

/*-------------------------------------
| Portfolio
-------------------------------------*/

img {
	
	width: 300px;
	height: 220px;
	background-color: none;
	float: right;
    margin: 52px 0 5px 84px;
    padding-right: 20px;
}

img 


/*-------------------------------------
| Contact
-------------------------------------*/

.boxes .box1 {
	width: 800px;
	height: 500px;
	background-color: #99B687;
	margin-left: 300px;
	margin-top: 80px;
}

/*-------------------------------------
Que
-------------------------------------*/
 ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}





 @media only screen and (max-width: 600px) {
 	body {
 		background-color: #26B1B6;
 	}

* {margin: 0; padding: 0; }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}






